<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Aean.Communicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Aean.Communicator.Properties.Settings>
      <setting name="DisplayAttributesEX" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayAttributesASCIIDesc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfigurationFileFolderName" serializeAs="String">
        <value>config</value>
      </setting>
      <setting name="Devices" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>192.168.0.1</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="CalibrationInputData" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="VerificationData" serializeAs="String">
        <value />
      </setting>
      <setting name="VerificationFileFolderName" serializeAs="String">
        <value>verification_data</value>
      </setting>
    </Aean.Communicator.Properties.Settings>
  </userSettings>
</configuration>